{
  "project" : "COLOCADORAS_FCI",
  "id" : "COLOCADORAS_FCI/CERRAR",
  "lang" : "Shell",
  "description" : "",
  "type" : "Script",
  "properties" : "selectionScope: 1\nname: CERRAR\ncaption: Cerrar\ntype: display\ninputSchema:\n  type: object\n  title: Cerrar\n  hints:\n    fieldOrder:\n      - cerrada2\n  properties:\n    cerrada2:\n      type: string\n      title: Cerrar\n      enum:\n        - 'Ok'\n        - 'Anular'\n    \n",
  "env" : "",
  "form" : false
}