{
  "project" : "COLOCADORAS_FCI",
  "id" : "COLOCADORAS_FCI/DERIVACION",
  "lang" : "Shell",
  "description" : "",
  "type" : "Script",
  "properties" : "selectionScope: 1\nname: DERIVACION\ncaption: Derivación\ntype: display\ninputSchema:\n  type: object\n  title: Derivación\n  hints:\n    fieldOrder:\n      - derivacion2\n  properties:\n    derivacion2:\n      type: string\n      title: Derivación\n      enum:\n        - 'Ok'\n        - 'Anular'\n    \n",
  "env" : "",
  "form" : false
}