{
  "project" : "COLOCADORAS_FCI",
  "id" : "COLOCADORAS_FCI/DERIVACION",
  "lang" : "Shell",
  "description" : "",
  "type" : "Script",
  "properties" : "selectionScope: 1\nname: REALIZAR_CHECKS\ncaption: Realizar chequeos\ntype: display\ninputSchema:\n  type: object\n  title: Realizar chequeos\n  hints:\n    fieldOrder:\n      - cerrada2\n      - boletos2\n      - derivacion2\n  properties:\n    cerrada2:\n      type: string\n      title: Cerrada\n    boletos2:\n      type: string\n      title: Boletos\n    derivacion2:\n      type: string\n      title: Derivación\n    \n",
  "env" : "",
  "form" : false
}