{
  "project" : "COLOCADORAS_FCI",
  "id" : "COLOCADORAS_FCI/MODIFICAR_VALORES",
  "lang" : "Shell",
  "description" : "",
  "type" : "Script",
  "properties" : "selectionScope: -2\nname: MODIFICAR_VALORES\ncaption: Editar montos\ntype: display\ninputSchema:\n  type: object\n  title: Editar montos\n  hints:\n    fieldOrder:\n      - operado\n      - cobra\n      - paga\n  properties:\n    operado:\n      type: string\n      title: Operado\n    cobra:\n      type: string\n      title: Cobra\n    paga:\n      type: string\n      title: Paga\n    \n",
  "env" : "",
  "form" : false
}