{
  "project" : "COLOCADORAS_FCI",
  "id" : "COLOCADORAS_FCI/MODIFICAR_VALORES",
  "lang" : "Shell",
  "description" : "",
  "type" : "Script",
  "properties" : "selectionScope: 1\nname: MODIFICAR_VALORES\ncaption: Modificar valores\ntype: display\ninputSchema:\n  type: object\n  title: Modificar valores\n  hints:\n    fieldOrder:\n      - operado2\n      - cobra2\n      - paga2\n  properties:\n    operado2:\n      type: string\n      title: Operado\n    cobra2:\n      type: string\n      title: Cobra\n    paga2:\n      type: string\n      title: Paga\n    \n",
  "env" : "",
  "form" : false
}