{
  "project" : "COLOCADORAS_FCI",
  "id" : "COLOCADORAS_FCI/SALDOS",
  "lang" : "Shell",
  "description" : "",
  "type" : "Script",
  "properties" : "selectionScope: 0\nname: MODIFICAR_VALORES\ncaption: Saldos\ntype: display\ninputSchema:\n  type: object\n  title:Saldos\n  hints:\n    fieldOrder:\n      - operado2\n  properties:\n    operado2:\n      type: number\n      title: Saldo MAV\n    \n",
  "env" : "",
  "form" : false
}